APP_NAME="SRP Website"
APP_ENV=production
APP_KEY=base64:7vG3+P/9r3gT2h7wM1L9X7K4J8B2V5N8C1X4Z7Q0W3E=
APP_DEBUG=true
APP_URL=https://${VERCEL_URL}

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=sqlite